* {
    scroll-behavior: smooth
}

body {
    max-width: 100%;
    background: url('/media/images/bakery_p.jpg') center center fixed;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

.backg {
    color: rgb(247, 238, 238);
}

.backg:hover {
    background-color: unset !important;
    color: black !important;
}


.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background: rgba(34, 99, 4, 0.6);
    padding: 0;
    z-index: -1;
}


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.gradient {
    background: linear-gradient(0.50turn, #b3e78b, #11a03c) !important;
    ;
}

/* Media Queries */
/* fixed top navbar only on medium and up */
@media (min-width: 950px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 80px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .header-container {
        border-top: 5px;
        padding-top: 120px;
    }

    body {
        height: calc(100vh - 120px);
    }
}